a {
    text-decoration: none;
    color: white;
}

a.hover,
a.active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.spacer {
    flex: 1 1 auto;
}

.notification-list .mat-list-item {
    height: auto;
}

.mat-drawer {
    z-index: -1 !important;
    width: 40%;
}

.mat-drawer-inner-container {

    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 140px;
}

.sidenav-container {
    position: absolute;

}

.mat-toolbar.mat-primary {
    background: red;
    color: #fff;
}