<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="spacer"></span>
  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">
    Login
  </button>

  <button mat-icon-button (click)="showMessages()">
    <mat-icon
      matBadge="{{ notificationCounter$ | async }}"
      matBadgePosition="before"
      matBadgeColor="accent"
      >notification_important</mat-icon
    >
  </button>
</mat-toolbar>
