form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spacer {
  flex: 1 1 auto;
}


.notification-list .mat-list-item {
  height: auto;
}


mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}